<!DOCTYPE html>
<html>
<head>
  <title>Trello</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<h1>Trello</h1>
<br>
<br>

<ul>
  <% if flash[:error] %>
    <% flash[:error].each do |error| %>
    <li class="flash-error"><%= error %></li>
    <% end %>
  <% end %>
</ul>





<%= yield %>

<% if logged_in? %>
  <%= link_to 'Logout', destroy_session_url %>
<% end %>



</body>
</html>
